[Unit]
Description=Wakaama LwM2M Server with DFOTA
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/quectel/Wakaama/05_Wakaama/run/server
ExecStart=/home/quectel/Wakaama/05_Wakaama/run/server/12_server_commercial.sh
KillSignal=SIGINT
Restart=on-failure
RestartSec=2
StandardInput=null
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target